<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>AQDSupabaseURL</key><string>$(AQD_SUPABASE_URL)</string>
<key>AQDSupabaseKey</key><string>$(AQD_SUPABASE_PUBLISHABLE_KEY)</string>
<key>AQDAuthResendSeconds</key><string>$(AQD_AUTH_RESEND_SECONDS)</string>
<key>CFBundleDisplayName</key><string>AQD</string>
<key>CFBundleURLTypes</key><array><dict><key>CFBundleURLName</key><string>com.aqd.ios.auth</string><key>CFBundleURLSchemes</key><array><string>com.aqd.ios</string></array></dict></array>
<key>NSCameraUsageDescription</key><string>Take a photo of a piece you choose to add to your private closet.</string>
<key>NSAppTransportSecurity</key><dict><key>NSAllowsLocalNetworking</key><true/></dict>
<key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array>
</dict></plist>
